/* PANEL KERANJANG */
.cart-panel {
    width: 350px;
    background: #fff7e6;
    padding: 20px;
    position: fixed;
    top: 80px;
    right: 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 15px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    background: #fff;
    padding: 8px;
    border-radius: 8px;
}

.remove {
    background: red;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.wa-btn {
    background: green;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
